# Importacion Inicial de ficheros y preparacion del caso

## Importaciones

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
%config IPCompleter.greedy = True

## Ficheros para el proyecto

### Listings

In [2]:
listing = pd.read_csv("Datos2023/listings.csv")
pd.options.display.max_columns=None
listing.head(6)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,85.0,5,106,2023-10-16,0.63,1,22,4,NaN
1,30320,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 ...,130907,Dana,Centro,Sol,40.41476,-3.70418,Entire home/apt,65.0,5,172,2022-09-26,1.05,3,0,0,NaN
2,21853,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31.0,4,33,2018-07-15,0.30,2,135,0,NaN
3,24805,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,346366726,Alvaro,Centro,Universidad,40.42183,-3.70529,Entire home/apt,94.0,5,33,2023-11-06,0.30,1,168,8,NaN
4,30959,Loft in Madrid · ★4.38 · 1 bedroom · 1 bed · 1...,132883,Angela,Centro,Embajadores,40.41259,-3.70105,Entire home/apt,NaN,3,8,2017-05-30,0.08,1,0,0,NaN
5,26825,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1...,114340,Maria,Arganzuela,Legazpi,40.38975,-3.69018,Private room,29.0,3,196,2023-06-20,1.18,1,295,22,NaN

In [3]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              25543 non-null  int64
 1   name                            25543 non-null  object
 2   host_id                         25543 non-null  int64
 3   host_name                       25532 non-null  object
 4   neighbourhood_group             25543 non-null  object
 5   neighbourhood                   25543 non-null  object
 6   latitude                        25543 non-null  float64
 7   longitude                       25543 non-null  float64
 8   room_type                       25543 non-null  object
 9   price                           21734 non-null  float64
 10  minimum_nights                  25543 non-null  int64
 11  number_of_reviews               25543 non-null  int64
 12  last_review                     20176 non-null  object
 13  reviews_per_month               20176 non-null  float64
 14  calculated_host_listings_count  25543 non-null  int64
 15  availability_365                25543 non-null  int64
 16  number_of_reviews_ltm           25543 non-null  int64
 17  license                         2784 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 3.5+ MB

### Listings Detalle

In [4]:
listing_det = pd.read_csv("Datos2023/listings.csv.gz", compression="gzip")
listing_det.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,Simon,2009-04-16,"Madrid, Spain","Gay couple, heterofriendly, enjoy having guest...",within an hour,100%,78%,t,https://a0.muscache.com/im/pictures/user/79a63...,https://a0.muscache.com/im/pictures/user/79a63...,Hispanoamérica,1.0,1.0,"['email', 'phone']",t,t,NaN,Hispanoamérica,Chamartín,40.45724,-3.67688,Private room in rental unit,Private room,2,NaN,1 private bath,NaN,1.0,[],$85.00,5,1125,3,5,1125,1125,5.0,1125.0,NaN,t,8,11,11,22,2023-12-15,106,4,0,2010-03-14,2023-10-16,4.88,4.91,4.84,4.78,4.86,4.84,4.86,NaN,f,1,0,1,0,0.63
1,21853,https://www.airbnb.com/rooms/21853,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,NaN,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,https://www.airbnb.com/users/show/83531,Abdel,2010-02-21,"Madrid, Spain",EN-ES-FR\r\nEN\r\nHi everybody: I'm Abdel. I'm...,NaN,NaN,0%,f,https://a0.muscache.com/im/users/83531/profile...,https://a0.muscache.com/im/users/83531/profile...,Aluche,2.0,2.0,"['email', 'phone']",t,t,"Madrid, Spain",Cármenes,Latina,40.40381,-3.74130,Private room in rental unit,Private room,1,NaN,1 bath,NaN,1.0,[],$31.00,4,40,4,4,40,40,4.0,40.0,NaN,t,0,0,0,135,2023-12-15,33,0,0,2014-10-10,2018-07-15,4.58,4.72,4.56,4.75,4.82,4.21,4.67,NaN,f,2,0,2,0,0.30
2,24805,https://www.airbnb.com/rooms/24805,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,NaN,"The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,https://www.airbnb.com/users/show/346366726,Alvaro,2020-05-15,NaN,NaN,NaN,NaN,NaN,f,https://a0.muscache.com/im/pictures/user/d3167...,https://a0.muscache.com/im/pictures/user/d3167...,NaN,1.0,1.0,"['email', 'phone']",t,t,"Madrid, Spain",Universidad,Centro,40.42183,-3.70529,Entire rental unit,Entire home/apt,3,NaN,1 bath,NaN,1.0,[],$94.00,5,1125,5,5,1125,1125,5.0,1125.0,NaN,t,18,48,78,168,2023-12-15,33,8,0,2014-11-29,2023-11-06,4.91,4.91,4.85,5.00,4.97,5.00,4.76,NaN,f,1,1,0,0,0.30
3,26825,https://www.airbnb.com/rooms/26825,20231215032748,2023-12-15,city scrape,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1...,NaN,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,https://www.airbnb.com/users/show/114340,Maria,2010-04-27,"Madrid, Spain","I like Fine art, Photography, Cinema, travel a...",a few days or more,0%,82%,t,https://a0.muscache.com/im/pictures/user/User-...,https://a0.muscache.com/im/pictures/user/User-...,Legazpi,1.0,4.0,"['email', 'phone']",t,t,"Madrid, Comunidad de Madrid, Spain",Legazpi,Arganzuela,40.38975,-3.69018,Private room in home,Private room,1,NaN,1.5 baths,NaN,1.0,[],$29.00,3,1125,3,3,1125,1125,3.0,1125.0,NaN,t,7,7,20,295,2023-12-15,196,22,0,2010-05-10,2023-06-20,4.72,4.82,4.92,4.79,4.72,4.73,4.77,NaN,f,1,0,1,0,1.18
4,30320,https://www.airbnb.com/rooms/30320,20231215032748,2023-12-15,previous scrape,Rental unit in Madrid · ★4.63 · 1 bedroom · 2 ...,NaN,NaN,https://a0.muscache.com/pictures/336868/f67409...,130907,https://www.airbnb.com/users/show/130907,Dana,2010-05-24,"Madrid, Spain",Apartasol offers a network of several spacious...,NaN,NaN,100%,f,https://a0.muscache.com/im/users/130907/profil...,https://a0.muscache.com/im/users/130907/profil...,Sol,3.0,6.0,"['email', 'phone']",t,f,NaN,Sol,Centro,40.41476,-3.70418,Entire rental unit,Entire home/apt,2,NaN,1 bath,NaN,2.0,[],$65.00,5,180,5,5,180,180,5.0,180.0,NaN,t,0,0,0,0,2023-12-15,172,0,0,2010-07-06,2022-09-26,4.63,4.71,4.88,4.82,4.78,4.90,4.69,NaN,f,3,3,0,0,1.05

In [5]:
listing_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            25543 non-null  int64
 1   listing_url                                   25543 non-null  object
 2   scrape_id                                     25543 non-null  int64
 3   last_scraped                                  25543 non-null  object
 4   source                                        25543 non-null  object
 5   name                                          25543 non-null  object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         13137 non-null  object
 8   picture_url                                   25542 non-null  object
 9   host_id                                       25543 non-null  int64
 10  host_url                                      25543 non-null  object
 11  host_name                                     25532 non-null  object
 12  host_since                                    25532 non-null  object
 13  host_location                                 17786 non-null  object
 14  host_about                                    12219 non-null  object
 15  host_response_time                            20378 non-null  object
 16  host_response_rate                            20378 non-null  object
 17  host_acceptance_rate                          21463 non-null  object
 18  host_is_superhost                             25363 non-null  object
 19  host_thumbnail_url                            25532 non-null  object
 20  host_picture_url                              25532 non-null  object
 21  host_neighbourhood                            10331 non-null  object
 22  host_listings_count                           25532 non-null  float64
 23  host_total_listings_count                     25532 non-null  float64
 24  host_verifications                            25532 non-null  object
 25  host_has_profile_pic                          25532 non-null  object
 26  host_identity_verified                        25532 non-null  object
 27  neighbourhood                                 13137 non-null  object
 28  neighbourhood_cleansed                        25543 non-null  object
 29  neighbourhood_group_cleansed                  25543 non-null  object
 30  latitude                                      25543 non-null  float64
 31  longitude                                     25543 non-null  float64
 32  property_type                                 25543 non-null  object
 33  room_type                                     25543 non-null  object
 34  accommodates                                  25543 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                25528 non-null  object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          25238 non-null  float64
 39  amenities                                     25543 non-null  object
 40  price                                         21734 non-null  object
 41  minimum_nights                                25543 non-null  int64
 42  maximum_nights                                25543 non-null  int64
 43  minimum_minimum_nights                        25543 non-null  int64
 44  maximum_minimum_nights                        25543 non-null  int64
 45  minimum_maximum_nights                        25543 non-null  int64
 46  maximum_maximum_nights                        25543 non-null  int64
 47  minimum_nights_avg_ntm                        25543 non-null  float64
 48  maximum_nights_avg_ntm                        25543 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              21734 non-null  object
 51  availability_30                               25543 non-null  int64
 52  availability_60                               25543 non-null  int64
 53  availability_90                               25543 non-null  int64
 54  availability_365                              25543 non-null  int64
 55  calendar_last_scraped                         25543 non-null  object
 56  number_of_reviews                             25543 non-null  int64
 57  number_of_reviews_ltm                         25543 non-null  int64
 58  number_of_reviews_l30d                        25543 non-null  int64
 59  first_review                                  20176 non-null  object
 60  last_review                                   20176 non-null  object
 61  review_scores_rating                          20216 non-null  float64
 62  review_scores_accuracy                        20213 non-null  float64
 63  review_scores_cleanliness                     20213 non-null  float64
 64  review_scores_checkin                         20214 non-null  float64
 65  review_scores_communication                   20215 non-null  float64
 66  review_scores_location                        20212 non-null  float64
 67  review_scores_value                           20211 non-null  float64
 68  license                                       2784 non-null   object
 69  instant_bookable                              25543 non-null  object
 70  calculated_host_listings_count                25543 non-null  int64
 71  calculated_host_listings_count_entire_homes   25543 non-null  int64
 72  calculated_host_listings_count_private_rooms  25543 non-null  int64
 73  calculated_host_listings_count_shared_rooms   25543 non-null  int64
 74  reviews_per_month                             20176 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 14.6+ MB

### Reviews

In [6]:
reviews = pd.read_csv("Datos2023/reviews.csv")
reviews.head()

   listing_id        date
0        6369  2010-03-14
1        6369  2010-03-23
2        6369  2010-04-10
3        6369  2010-04-21
4        6369  2010-04-26

In [7]:
reviews.shape

(1095004, 2)

### Reviews Detalle

In [8]:
reviews_det = pd.read_csv("Datos2023/reviews.csv.gz")
reviews_det.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r<br/>It's a w...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...

In [9]:
reviews_det.shape

(1095004, 6)

### Calendar

In [10]:
calendar = pd.read_csv("Datos2023/calendar.csv.gz")
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,6369,2023-12-15,f,$90.00,NaN,3.0,1125.0
1,6369,2023-12-16,f,$90.00,NaN,3.0,1125.0
2,6369,2023-12-17,f,$90.00,NaN,3.0,1125.0
3,6369,2023-12-18,t,$90.00,NaN,3.0,1125.0
4,6369,2023-12-19,t,$90.00,NaN,3.0,1125.0

In [11]:
calendar.shape

(9325869, 7)

In [12]:
calendar.date.min()

'2023-12-15'

In [13]:
calendar.date.max()

'2024-12-20'

Estas dos ulitmas tablas no aportan informacion adicional, no las tendremos en cuenta en el proyecto

### Distritos y barrios

In [14]:
neighbourhoods = pd.read_csv("Datos2023/neighbourhoods.csv")
neighbourhoods.head()

  neighbourhood_group neighbourhood
0          Arganzuela       Acacias
1          Arganzuela        Atocha
2          Arganzuela       Chopera
3          Arganzuela      Delicias
4          Arganzuela      Imperial

In [15]:
neighbourhoods.shape

(128, 2)

Ya disponemos de esta informacion en el fichero de listings

## Creacion de base de datos del proyecto

- Para nuestro proyecto nos quedamos con los ficheros listings y listings detalle, que contienen la información necesaria para proceder con el análisis.

In [16]:
import sqlalchemy as sa

con = sa.create_engine("sqlite:///Datos2023/airbnb.db")

In [17]:
listing.to_sql("listings", con=con, if_exists="replace")
listing_det.to_sql("listings_det", con = con, if_exists = "replace")

25543